<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<h1>请输入新增用户信息</h1>
<form action="../controller/manController_dml.php" method="post">
<table>
<tr><td>用户名字</td><td><input type="text" name="userName"></td></tr>
<tr><td>用户密码</td><td><input type="password" name="userpwd"></td></tr>
<input type="hidden" name="code" value=1 />
<tr><td><input type="submit" value="完成"></td><td><input type="reset" value="重填"></td></tr>
</table>
</form>
</html>