<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>管理员登陆系统</title>
</head>
<form action="../controller/manController.php" method="post">
<table>
<tr><td>管理员ID</td><td><input type="text" name="manID"/></td></tr>
<tr><td>管理员密码</td><td><input type="password" name="manpwd"/></td></tr>
<tr><td><input type="submit" value="登陆"/></td><td><input type="reset" value="重置"/></td></tr>
</table>
</form>

<{if $err == 1}>
你输入的ID或密码错误
<{/if}>
</html>

